<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <meta charset="utf-8">
        {% include 'title.html' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
{#        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>#}
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/supersized.css">
        <link rel="stylesheet" href="/static/css/style.css">


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
{#            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>#}
        <![endif]-->
<style type="text/css">
    body{
        background-image:url(/static/img/backgrounds/education-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 152%;
    }
</style>
    </head>
    <img src="/static/img/backgrounds/education-logo.png" style="width: 243px;position: absolute;
                left: 50px;top: 30px;">
    <body>
    <h1 style="    color: #463434;
    position: absolute;
    margin-left: -90px;
    left: 50%;
    margin-top: -45px;">系统用户注册</h1>
        <div class="page-container" style="border: 1px solid #9da0d6;
    border-radius: 41px;box-shadow: 5px 5px 53px 20px #203d54;
    width: 400px;    height: 307px;margin-top: 180px;">
            <form>
                <input type="text" name="username" class="name" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密    码">
                <div style="color: #ffffff;">
                    <div style="position: absolute;margin-left: 7px;font-size: 20px;margin-top: 25px;">
                        您的身份：
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="typ" type="radio" name="mark" value="1" checked="checked" style="vertical-align: -4px;width:20px;height: 20px;">学生
                    &nbsp;&nbsp;<input class="typ" type="radio" name="mark" value="2" style="vertical-align: -4px;width:20px;height: 20px;">老师
                    &nbsp;&nbsp;<input class="typ" type="radio" name="mark" value="3" style="vertical-align: -4px;width:20px;height: 20px;">管理员
                </div>
                <button type="submit" class="submit_btn" style="    margin-top: 32px;
    width: 115px;
    height: 35px;
    margin-left: -134px;
    position: absolute;
    color: #fff;
    font-size: 19px;
    background: #03A9F4;
    border: 0;">注册</button>

                <a href="/user/toRegister" style="text-decoration: none;
    color: #ffffff;
    position: absolute;
    margin-left: 39px;
    margin-top: 36px;
    font-size: 26px;">重新填写</a>
                <div class="error"><span>+</span></div>
            </form>
        </div>
{#       <div style="border: 1px solid #9da0d6;border-radius: 41px;box-shadow: 5px 5px 53px 20px #203d54;#}
{#    width: 424px;height: 367px;position: absolute;margin-left: 555px;margin-top: -288px;">#}
{#       </div>#}
        <!-- Javascript -->
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery-1.8.2.min.js"></script>
{#        <script src="/static/js/supersized.3.2.7.min.js"></script>#}
{#        <script src="/static/js/supersized-init.js"></script>#}
        <script src="/static/js/scripts.js"></script>
{#        <script src="/static/js/index.js"></script>#}
        <script src="/static/libs/layer/layer.js"></script>

    </body>
    <script>
        $(function(){
            $('.submit_btn').click(function(e){
		e.preventDefault();
		var name = $('.name').val();
		var password = $('.password').val();
		var type = $('input[class = typ]:checked').val();
		if(name == '' || password == ''){
			layer.msg('请填写完整');
			return;
		}
		$.ajax({
			url: '/user/register/',
			type: 'GET',
			dataType: 'json',
			data: {
				username: name,
				password: password,
                type: type,
			},
			success: function(data){
				console.log(data);
				if(data.code == 0){
				    alert('注册成功！');
					window.location = '/';
				}else{
					layer.msg('填写信息失败，重新填写!');
				}
			},
			error: function(xhr){
				console.log(xhr);
			}
		});
	});
        });
    </script>
</html>